<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>批发代理订单</title>
    <link rel="stylesheet" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--日期  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/datepicker/css/bootstrap-datepicker.css}">
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/layer/layer.css}">
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">订单管理</a>&nbsp;&gt;&nbsp;<span>批发订单</span></div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->
        <div class="ph_subTit">
            <h2>批发订单</h2>
            <shiro:hasPermission name="purchaseOrderExport">
                <!--<div class="ph_snbBtn"><input name="" type="button" th:onclick="'exportExcel();'" value="导出"></div>  暂时不做导出功能-->
            </shiro:hasPermission>
        </div>
        <!--end 标题-->
        <!--筛选条件-->
        <form id="queryForm">
            <div class="ph_screen">
                <table class="ph_tableBox">
                    <tr>
                        <th>订单号：</th>
                        <td><input name="" type="text" id="orderNo"></td>
                        <th>下单时间：</th>
                        <td>
                            <p class="dayBox">
                                <input class="start_rise date start" name="" type="text" id="createTimeStr">
                            </p>
                        </td>

                        <th>订单状态：</th>
                        <td>
                            <select class="selectpicker" data-live-search="true" name="status" id="status">
                                <option value="10000">请选择</option>
                                <option value="0">待付款</option>
                                <option value="1">已付定金</option>
                                <option value="2">待发货</option>
                                <option value="3">待收货</option>
                                <option value="4">已评价</option>
                                <option value="6">已退款</option>
                                <option value="7">已收货</option>
                                <option value="8">已取消</option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="6">
                            <input name="" type="button" th:onclick="'query();'" value="查询">
                            <input name="" type="button" th:onclick="'resetForm();'" value="重置">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="purchaseOrder">
            </table>
        </div>
        <!--end 商品列表-->
        <!--分页-->
        <!--end 分页-->
    </div>
    <!--end 主体内容-->
</div>
<!--遮罩层-->
<div class="maskBox"></div>
<!--end 遮罩层-->
<form action="" id="validateForm">
    <!--申请退款弹窗-->
    <div class="PopupBox" id="Js_refundBox">
        <!--内容-->
        <div class="PopupCon">
            <div class="ph_subPoCon ph_screen">
                <table class="ph_tableBox">
                    <tr>
                        <th>退款备注：</th>
                        <td>
                            <textarea class="ph_txtAreaBg validate[required]" name="" id="appliReason"></textarea>
                        </td>
                    </tr>
                    <input type="hidden" id="orderId" value="">
                </table>
            </div>
        </div>
        <!--end 内容-->
    </div>
    <!--end 申请退款弹窗-->
</form>
<!--导出start-->
<div hidden>
    <form action="/web/order/purchase/export" id="orderExport" method="post">
        <input type="hidden" name="createTimeStr" value="" id="e_createTimeStr"/>
        <input type="hidden" name="createTimeEnd" value="" id="e_createTimeEnd"/>
        <input type="hidden" name="orderNo" value="" id="e_orderNo"/>
        <input type="hidden" name="purchaserId" value="" id="e_purchaserId"/>
        <input type="hidden" name="supplerId" value="" id="e_supplerId"/>
        <input type="hidden" name="status" value="" id="e_status"/>
        <input type="hidden" name="payment" value="" id="e_payment"/>
    </form>
</div>
<!--导出end-->

<!--<input type="hidden" id="roleCode" th:value="${roleCode}" />-->

<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>
<!--日期控件-->
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.timepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.datepair.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/datepicker.js}"></script>
<!--验证-->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<!--弹窗-->
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var tb;
    $(function () {
        $("#validateForm").validationEngine({
            addPromptClass: 'formError-text',
            showArrow: false,
            promptPosition: 'bottomLeft'
        });
        //分页
        tb = $("#purchaseOrder").DataTable({
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/web/order/alq/alqListPf", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '', aTargets: ['_all']}],
            "aoColumns": [
                {"sTitle": "序号", "mData": "id", "sWidth": "30px"},
                {"sTitle": "订单号", "mData": "orderNo", "sWidth": "150px"},
                {"sTitle": "下单时间", "mData": "createdTime", "sWidth": "150px"},
                {"sTitle": "批发商账号", "mData": "hunterPhone","sWidth": "100px"},
                {"sTitle": "商户账号", "mData": "memberPhone","sWidth": "100px"},
                {"sTitle": "付款方式", "mData": "refundMsg","sWidth": "100px"},
                {"sTitle": "订单金额(元)", "mData": "totalMoney","sWidth": "100px"},
                {
                    "sTitle": "订单状态","sWidth": "100px", "mData": "status", "mRender": function (data, type, full) {
                    var text = "-";
                    if (full.status == 0) {
                        text = "待付款";
                    } else if (full.status == 1) {
                        text = "已付定金";
                    } else if (full.status == 2) {
                        text = "待发货";
                    } else if (full.status == 3) {
                        text = "待收货";
                    } else if (full.status == 4) {
                        text = "已评价";
                    } else if (full.status == 6) {
                        text = "已退款";
                    } else if (full.status == 7) {
                        text = "已收货";
                    } else if (full.status == 8) {
                        text = "已取消";
                    }
                    return text;
                }
                },
                {"sWidth": "110px","sTitle" : "操作","mData" : "id","sClass":"ph_tableShow", "mRender" : function ( data, type, full ) {
                    var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                    text = text+'<ul class="ph_operateList hide">';
                        text += '<li><a href="javascript:void(0);" onclick="toDetail(\''+ full.id +'\')">订单详情</a></li>';
                    text = text + '</ul></div>';
                    return text;
                }
                }
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'createdTime': $("#createTimeStr").val(),
                        'orderNo': $('#orderNo').val(),
                        'status': $('#status').val(),
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });

            }
        });
    });

    //条件查询重新加载数据
    function query() {
        tb.draw();
    }
    ;

    function resetForm() {
        clearData("queryForm");
    }

    /**
     * 推广师导出
     */
    function exportExcel() {
//        $('#e_createTimeStr').val($('#createTimeStr').val());
//        $('#e_createTimeEnd').val($('#createTimeEnd').val());
//        $('#e_orderNo').val($('#orderNo').val());
//        $('#e_purchaserId').val($('#purchaserId').val());
//        $('#e_supplerId').val($('#supplerId').val());
//        $('#e_status').val($('#status').val());
//        $('#e_payment').val($('#payment').val());
//        $('#orderExport').submit();
        layer.alert("导出暂不可用");
    }

    /*详情*/
    function toDetail(orderId) {
        HtmlHelper.generateAutoSubmitForm({
            url: "/web/order/alq/detail",
            data: {
                subOrderId: orderId,
                type: 1
            }
        });
    }
    //确认收货
    function confirmReceipt(id, status) {
        layer.confirm('确定此操作吗？', {
            title: '确认收货',
            icon: 3,
            btnAlign: 'c',
            closeBtn: 0
        }, function (index) {
            $.ajax({
                async: false,
                url: "/web/order/purchase/receipt",
                data: {orderId: id, currentOrderStatus: status},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    layer.close(index);
                    if (data.success) {
                        tb.draw(false);
                        layer.alert(data.message, {icon: 1, btnAlign: 'c', closeBtn: 0});
                    } else {
                        layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                    }
                },
                error: function (Res) {
                    layer.alert('系统繁忙，请重试！', {icon: 2, btnAlign: 'c', closeBtn: 0});
                }
            });
        });
    }

    function refundAppli(id) {
        layer.open({
            type: 1,
            title: '申请退款',
            closeBtn: 0,
            area: ['500px', '300px'],
            btn: ['确定', '取消'],
            btnAlign: 'c',
            content: $('#Js_refundBox'),
            yes: function (index, layero) {
                var flag = $("#validateForm").validationEngine("validate");
                if (!flag) {
                    return false;
                }
                $.ajax({
                    async: false,
                    url: "/web/order/purchase/refund/add",
                    data: {subOrderId: id, appliReason: $('#appliReason').val()},
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            layer.close(index);
                            tb.draw(false);
                            layer.alert(data.message, {icon: 1, btnAlign: 'c', closeBtn: 0});
                        } else {
                            layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                        }
                    }
                });
            }, btn2: function (index, layero) {
                $('#appliReason').val('');
                layer.close(index);
            }
        });
    }

    //取消订单
    function cancelOrder(id, status) {
        layer.confirm('确定取消订单吗？', {
            title: '取消订单',
            icon: 3,
            btnAlign: 'c',
            closeBtn: 0
        }, function (index) {
            $.ajax({
                async: false,
                url: "/web/order/purchase/cancelOrder",
                data: {orderId: id, currentOrderStatus: status},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    layer.close(index);
                    if (data.success) {
                        tb.draw(false);
                        layer.alert(data.message, {icon: 1, btnAlign: 'c', closeBtn: 0});
                    } else {
                        layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                    }

                }
            });
        });
    }

    //立即付款
    function pay(id) {
        layer.confirm('确定此操作吗？', {
            title: '立即付款',
            icon: 3,
            btnAlign: 'c',
            closeBtn: 0
        }, function (index) {
            HtmlHelper.generateAutoSubmitForm({
                url: "/web/order/purchase/toPay",
                method: "POST",
                data: {
                    orderId: id,
                    type: 2
                }
            });
        });
    }

    function clearData(id) {
        $("#" + id)[0].reset();
        var roleCode = $('#roleCode').val();
        var selected = $("#" + id).find("select");
        if (selected.length > 0) {
            for (var i = 0, length = selected.length; i < length; i++) {
                var id = selected.eq(i).attr("id");
                if (roleCode != 1) {
                    //if (id != "purchaserId") {
                    selected.eq(i).selectpicker('val', '');
                    //}
                } else {
                    selected.eq(i).selectpicker('val', '');
                }
            }
        }
    }
</script>
</body>
</html>