<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>线上结算</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/common/models.css}">
<!--bootstrap-select  css文件-->
<link rel="stylesheet" type="text/css"
	th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}" />
<!--日期  css文件-->
<link rel="stylesheet" type="text/css"
	th:href="@{/static/js/plugins/datepicker/css/bootstrap-datepicker.css}">
</head>
<body>
	<div class="MainContent">
		<!--面包屑-->
		<div class="current">
			当前位置：<a href="#">账户结算</a>&nbsp;&gt;&nbsp;<span>线上结算</span>
		</div>
		<!--end 面包屑-->
		<!--主体内容-->
		<div class="MainCont">
			<!--标题-->
			<div class="ph_subTit">
				<h2>线上结算</h2>
				<div class="ph_snbBtn">
					<shiro:hasPermission name="onlineExport">
						<input type="button" value="导出"
							onclick="Dialog.exportExcel('onLineSettle')">
					</shiro:hasPermission>
				</div>
			</div>
			<!--end 标题-->
			<!--筛选条件-->
			<shiro:hasPermission name="onlineQuery">
				<div class="ph_screen">
					<form id="onlineSettle" action="/web/onlinesettle/exprotexcel"
						method="post">
						<table class="ph_tableBox">
							<tr>
								<th>订单时间：</th>
								<td colspan="2">
									<p class="dayBox">
										<!-- <input id="type" name="type" type="text" value="2" hidden="hidden"> -->
										<input class="start_rise date start" id="startDate"
											name="startDate" type="text">&nbsp;-&nbsp;<input
											class="start_rise date end" id="endDate" name="endDate"
											type="text">
									</p>
								</td>
								<th>订单号：</th>
								<td><input id="orderNo" name="orderNo" type="text"></td>
								<th>会员账号：</th>
								<td><input id="telPhone" name="telPhone" type="text"></td>
							</tr>
							<tr>
								<th>结算状态：</th>
								<td><select class="selectpicker" id="status" name="status">
										<option value="">全部</option>
										<option value="0">待结算</option>
										<option value="1">已结算</option>
								</select></td>
								<td colspan="5"><input id="doQuery" name="doQuery"
									type="button" value="查询"
									onclick="Dialog.doSearch('onLineSettle')"><input
									id="doReset" name="doReset" type="button" value="重置"
									onclick="Dialog.clearData('onlineSettle','status')"></td>
							</tr>
						</table>
					</form>
				</div>
			</shiro:hasPermission>
			<!--end 筛选条件-->
			<!--线上结算列表-->
			<div class="ph_wareBox ph_tabScroll">
				<table class="ph_wareList" id="onLineSettle"></table>
			</div>
			<!--线上结算列表-->
		</div>
		<!--end 主体内容-->
	</div>
	<script type="text/javascript"
		th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>

	<!--bootstrap-select-->
	<script type="text/javascript"
		th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
	<!--分页-->
	<script type="text/javascript"
		th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>

	<!--日期控件-->
	<script type="text/javascript"
		th:src="@{/static/js/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/plugins/datepicker/jquery.timepicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/plugins/datepicker/jquery.datepair.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/plugins/datepicker/datepicker.js}"></script>

	<script type="text/javascript" th:src="@{/static/js/common/util.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/finance/finance_online.js}"></script>
</body>
</html>