<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>正在跳转支付页面</title>
    <script type="text/javascript" language="JavaScript">
        setTimeout("paysubmit.submit();",1000);
    </script>
</head>
<body>
<form name="paysubmit" id="paysubmit" th:action="${urlReaction}" method="get">
    <input type="hidden" id="value1" name="value1" th:value="${value1}"/>
    <input type="hidden" id="value2" name="value2" th:value="${value2}"/>
    <input type="hidden" id="value3" name="value3" th:value="${value3}"/>
    <input type="hidden" id="value4" name="value4" th:value="${value4}"/>
</form>
</body>
</html>