<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="true">
     <bean id="rpcUserRegisterServiceImpl" class="com.alqsoft.rpc.mobile.impl.RpcUserRegisterServiceImpl" />
	<!-- 注册-->
	<dubbo:service id="rpcUserRegisterService" interface="com.alqsoft.rpc.mobile.RpcUserRegisterService"
		ref="rpcUserRegisterServiceImpl"  timeout="1200000" />
</beans> 
 