<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>供货订单</title>
    <link rel="stylesheet" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--日期  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/datepicker/css/bootstrap-datepicker.css}">
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/layer/layer.css}">
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">订单管理</a>&nbsp;&gt;&nbsp;<span>供货订单</span> </div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->
        <div class="ph_subTit">
            <h2>供货订单</h2>
            <shiro:hasPermission name="supplyOrderExoprt">
                <div class="ph_snbBtn"><input name="" type="button" th:onclick="'exportExcel();'" value="导出"></div>
            </shiro:hasPermission>
        </div>
        <!--end 标题-->
        <!--筛选条件-->
        <form id="queryForm">
            <div class="ph_screen">
            <table class="ph_tableBox">
                <tr>
                    <th>订单号：</th>
                    <td><input name="" type="text" id="orderNo"></td>
                    <th>下单时间：</th>
                    <td>
                        <p class="dayBox">
                            <input class="start_rise date start" name="" type="text" id="createTimeStr" >&nbsp;-&nbsp;
                            <input class="start_rise date end" name="" type="text" id="createTimeEnd">
                        </p>
                    </td>
                    <th>进货商：</th>
                    <td>
                        <select class="selectpicker" name="purchaserId" id="purchaserId">
                            <option value="">全部</option>
                            <option th:if="${roleCode} != 1" th:each="user:${purchaseUser}" th:value="${user.id}">[[${user.name}]]</option>
                            <option th:if="${roleCode} == 1" th:each="user:${purchaseUser}" th:value="${user.id}">
                                <div th:switch="${user.type}">
                                    <span th:case="1">【商户】</span>
                                    <span th:case="2">【市代】</span>
                                </div>
                                [[${user.name}]]
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>供应商：</th>
                    <td>
                        <select class="selectpicker" data-live-search="true" name="supplerId" id="supplerId">
                            <option th:if="${roleCode} != 2"  value="">全部</option>
                            <option th:each="s:${supplier}" th:value="${s.userId}">[[${s.supplierName}]]</option>
                        </select>
                    </td>
                    <th>订单状态：</th>
                    <td>
                        <select class="selectpicker" name="status" id="status" >
                            <option value="">全部</option>
                            <option value="0">待付款</option>
                            <option value="1">待发货</option>
                            <option value="2">待收货</option>
                            <option value="3">交易完成</option>
                            <option value="4">交易取消</option>
                        </select>
                    </td>
                    <th>付款方式：</th>
                    <td>
                        <select class="selectpicker" name="payment" id="payment">
                            <option value="">全部</option>
                            <option value="0">余额支付</option>
                            <option value="1">银行卡支付</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <input name="" type="button" th:onclick="'query();'" value="查询">
                        <input name="" type="button" th:onclick="'resetForm();'" value="重置">
                    </td>
                </tr>
            </table>
        </div>
        </form>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="purchaseOrder">
            </table>
        </div>
        <!--end 商品列表-->
    </div>
    <!--end 主体内容-->
</div>
<!--遮罩层-->
<div class="maskBox"></div>
<!--end 遮罩层-->
<!--订单发货弹窗-->
<form id="validateForm">
    <div class="PopupBox" id="deliverBox">
    <!--内容-->
    <div class="PopupCon">
        <div class="ph_subPoCon ph_screen" id="sendTable">
            <table class="ph_tableBox">
                <tr>
                    <th><span class="require">*</span>发货地址：</th>
                    <td>
                        <select class="selectpicker validate[required]" data-live-search="true" id="sendAddressId" name="sendAddressId">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><span class="require">*</span>物流公司：</th>
                    <td>
                        <select class="selectpicker validate[required]" data-live-search="true" id="logisticsId" name="logisticsId">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><span class="require">*</span>物流编号：</th>
                    <td><input class="validate[required]" name="logisticsNo" type="text" id="logisticsNo"></td>
                </tr>
            </table>
        </div>
    </div>
    <!--end 内容-->
</div>
</form>
<!--end 订单发货弹窗-->

<input type="hidden" id="roleCode" th:value="${roleCode}" />

<!--导出start-->
<div hidden>
    <form action="/web/order/supply/export"  id="orderExport" method="post">
        <input type="hidden" name="createTimeStr" value="" id="e_createTimeStr"/>
        <input type="hidden" name="createTimeEnd" value="" id="e_createTimeEnd"/>
        <input type="hidden" name="orderNo" value="" id="e_orderNo"/>
        <input type="hidden" name="purchaserId" value="" id="e_purchaserId"/>
        <input type="hidden" name="supplerId" value="" id="e_supplerId"/>
        <input type="hidden" name="status" value="" id="e_status"/>
        <input type="hidden" name="payment" value="" id="e_payment"/>
    </form>
</div>
<!--导出end-->

<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript"   th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>
<!--日期控件-->
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.timepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.datepair.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/datepicker.js}"></script>
<!--验证-->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<!--弹窗-->
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var tb;
    $(function() {

        $("#validateForm").validationEngine({
            addPromptClass: 'formError-text',
            showArrow: false,
            promptPosition: 'bottomLeft'
        });

        //分页
        tb=$("#purchaseOrder").DataTable({
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/web/order/supply/list", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '',aTargets: [ '_all' ]}],
            "aoColumns": [
                { "sTitle" : "序号","mData": null, "sWidth" : "50px"},
                { "sTitle" : "订单号","mData": "orderNo","sWidth" : "220px"},
                { "sTitle" : "下单时间","mData": "createTime","sWidth" : "150px"},
                { "sTitle" : "供应商","mData": "supplierName" },
                { "sTitle" : "进货商","mData": "purchaseName" },
                { "sTitle" : "商品金额(元)","mData": "money" },
                { "sTitle" : "物流费用(元)","mData": "freight" },
                { "sTitle" : "订单总额(元)","mData": "totalCost" },
                { "sTitle" : "付款方式","mData": "payment" ,"mRender" : function ( data, type, full ) {
                    var text = "-";
                    if (full.payment == 0) {
                        text = "余额支付";
                    }else if (full.payment == 1) {
                        text = "银行卡支付";
                    }
                    return text;
                }},
                { "sTitle" : "订单状态","mData": "status" ,"mRender" : function ( data, type, full ) {
                    var text;
                    if (full.status == 0) {
                        text = "待付款";
                    }else if (full.status == 1) {
                        text = "待发货";
                    }else if (full.status == 2) {
                        text = "待收货";
                    }else if (full.status == 3) {
                        text = "交易完成";
                    }else if (full.status == 4) {
                        text = "交易取消";
                    }
                    return text;
                }},
                {"sWidth": "110px","sTitle" : "操作","mData" : "id","sClass":"ph_tableShow", "mRender" : function ( data, type, full ) {
                    var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                    text = text+'<ul class="ph_operateList hide">';
                    if ([[${session.supplyOrderDetail}]]) {
                        text += '<li><a href="javascript:void(0);" onclick="toDetail(\''+ full.id +'\')">订单详情</a></li>';
                    }
                    if (full.status == 1) {
                        if ([[${session.supplyOrderSend}]]) {
                            text += '<li><a class="Js_refund" href="javascript:void(0);" onclick="sendProduct(\''+ full.id +'\',\'' + full.status + '\',\'' + full.refundStatus + '\');">立即发货</a></li>';
                        }
                    }
                    text = text + '</ul></div>';
                    return text;
                }
                }
            ],
            "oLanguage" : {
                "sProcessing" : "数据加载中······",
                "sLengthMenu" : "显示 _MENU_ 条记录",
                "sZeroRecords" : "没有您要搜索的内容！",
                "sEmptyTable" : "列表中无数据存在！",
                "sInfo" : "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty" : "显示 0 到 0 条记录",
                "sInfoFiltered" : "数据列表中共  _MAX_ 条记录",
                "oPaginate" : {
                    "sFirst" : "首页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "末页"
                }
            },
            "fnServerData" : function ( sSource, aoData, fnCallback, oSettings ) {
                oSettings.jqXHR = $.ajax( {
                    "dataType" 	: 'json',
                    "type" 		: "POST",
                    "async"     : 'false',
                    "url" 		: sSource,
                    "data" 		: {
                        'pageNum': (aoData[3].value/aoData[4].value)+1,
                        'pageSize' :  aoData[4].value,
                        'createTimeStr'  :  $("#createTimeStr").val(),
                        'createTimeEnd' : $('#createTimeEnd').val(),
                        'orderNo' : $('#orderNo').val(),
                        'purchaserId' : $('#purchaserId').val(),
                        'supplerId' : $('#supplerId').val(),
                        'status' : $('#status').val(),
                        'payment' : $('#payment').val()
                    },
                    "success"	: fnCallback
                } );
            },
            "fnDrawCallback" : function(){
                var api = this.api();
                var startIndex= api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function(cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });

            }
        });
    });


    //条件查询重新加载数据
    function query() {
        tb.draw();
    };
    
    function resetForm() {
        clearData("queryForm");
    }


    function exportExcel() {
        $('#e_createTimeStr').val($('#createTimeStr').val());
        $('#e_createTimeEnd').val($('#createTimeEnd').val());
        $('#e_orderNo').val($('#orderNo').val());
        $('#e_purchaserId').val($('#purchaserId').val());
        $('#e_supplerId').val($('#supplerId').val());
        $('#e_status').val($('#status').val());
        $('#e_payment').val($('#payment').val());
        $('#orderExport').submit();
    }

    function toDetail(orderId) {
        HtmlHelper.generateAutoSubmitForm({
            url: "/web/order/supply/detail",
            data: {
                subOrderId : orderId,
                type : 1
            }
        });
    }

    function sendProduct(id,status,refundStatus) {
        /**
         * 立即发货：点击弹出发货弹出框，如果退款状态为退款审核，则提示订单处于退款申请中，发货后退款审核将自动取消，是否发货？
         * 确定后继续发货后即可发货操作，发货后订单状态为待收货、退款状态为退款取消；
         */
        if (refundStatus == 0) {
            layer.confirm('订单处于退款申请中，发货后退款审核将自动取消，是否发货？',{
                title: '订单发货',
                icon: 3,
                btnAlign: 'c',
                closeBtn : 0
            },function(index){
                layer.close(index);
                send(id,status);
            });
        } else {
            send(id,status);
        }
    }
    
    
    function send(id,status) {
        //获取物流列表
        $.ajax({
            url:"/web/order/supply/getLogistics",
            datetype:"json",
            type:"post",
            success:function(data){
                if (data.data && data.data.length > 0) {
                    var data1 = data.data;
                    for(var i=0; i< data1.length;i++){
                        $("#logisticsId").append("<option value='"+ data1[i].id +"'>" + data1[i].logisticsName + "</option>");
                    }
                    $('.selectpicker').selectpicker('refresh');
                }

            }
        });
        //获取发货地址列表
        $.ajax({
            url:"/web/order/purchase/address",
            datetype:"json",
            type:"post",
            success:function(data){
                for(var i=0; i<data.length;i++){
                    $("#sendAddressId").append("<option data-contacts = ' " + data[i].contacts +  " ' data-telPhone = ' " + data[i].telPhone +  " '  value='" + data[i].id + "'>" + data[i].address + "</option>");
                }
                $('.selectpicker').selectpicker('refresh');
            }
        });
        layer.open({
            type: 1,
            title: '订单发货',
            closeBtn : 0,
            area: ['442px','280px'],
            btn:['发货','取消'],
            btnAlign: 'c',
            content: $('#deliverBox'),
            yes:function (index, layero) {
                //参数校验
                var flag = $("#validateForm").validationEngine("validate");
                if(!flag){
                    return false;
                }
                var data = {};
                data.id = id;
                data.currentOrderStatus = status;
                data.logisticsNo = $('#logisticsNo').val().trim();
                var sendAddress = $('#sendAddressId').find("option:selected");
                data.sendAddressId = sendAddress.val() ;
                data.sendAddress = sendAddress.text();
                data.sendContacts = sendAddress.attr("data-contacts");
                data.sendTelPhone = sendAddress.attr("data-telPhone");
                var logistics = $('#logisticsId').find("option:selected");
                data.logisticsId = logistics.val();
                data.logisticsCompany = logistics.text();
                $.ajax({
                    url:"/web/order/supply/sendProduct",
                    data:data,
                    datetype:"json",
                    type:"POST",
                    success:function(data){
                        clearData("validateForm");
                        if(data.success==true){
                            tb.draw(false);
                            layer.close(index);
                            layer.alert(data.message, {icon: 1,btnAlign: 'c', closeBtn : 0});
                        }else {
                            layer.alert(data.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                        }
                    },error:function(data){
                        layer.alert('系统繁忙，请重试！', {icon: 2,closeBtn: 0});
                    }
                });
            },btn2:function (index, layero) {
                clearData("validateForm");
                layer.close(index);
            }
        });
    }

    function clearData(id) {
        $("#" + id)[0].reset();
        var roleCode = $('#roleCode').val();
        var selected = $("#" + id).find("select");
        if (selected.length > 0) {
            for (var i = 0, length = selected.length; i< length; i++) {
                var id = selected.eq(i).attr("id");
                if (roleCode != 1 ) {
                    //if (id != "supplerId") {
                        selected.eq(i).selectpicker('val','');
                    //}
                } else {
                    selected.eq(i).selectpicker('val','');
                }
            }
        }
    }
</script>
</body>
</html>