<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.shopping.facade.mapper.PayPasswordMapper">
		
	<!-- 根据条件查询用户支付密码  -->
	<select id = "selectUserPayPwdByTelPhone" resultType="com.ph.shopping.facade.member.entity.TradersPassword">
		SELECT
			ptp.id,
			ptp.customerType,
			ptp.payPwd,
			ptp.userId,
			ptp.createTime,
			ptp.updateTime,
			ptp.createrId,
			ptp.updaterId
		FROM
			ph_traders_password ptp
			LEFT JOIN ph_member pm ON pm.id = ptp.userId
	  		where pm.telPhone= #{telPhone}
	  			and ptp.customerType= #{customerType}
	</select>
	<!-- 修改支付密码 -->
	<update id = "updadtePayPwd" parameterType = "com.ph.shopping.facade.member.entity.TradersPassword">
		UPDATE ph_traders_password
		SET payPwd = #{payPwd},
		updateTime = now(),
		updaterId = #{updaterId}
		WHERE
			userId = #{userId}
		and customerType = #{customerType}
	</update>
		
	<!-- 判断用户支付密码是否存在  -->
	<select id = "selectPayPwdIsExist" parameterType="com.ph.shopping.facade.member.dto.PayPasswordQueryDTO" resultType="int">
		SELECT
			count(1)
		FROM
			ph_traders_password 
	  		where userId = #{userId}
		and customerType = #{customerType}
	</select>
</mapper>