<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.shopping.facade.mapper.OrderProductMapper">

	<!-- 通过商品id和商品规格组合id查询商品规格属性最新的skuId -->
	<select id="selectCurrentProductSkuId" resultType="long">
		SELECT
			productsSkuId
		FROM
			ph_product_sku_snapshot
		WHERE
			productId = #{productId}
			AND specificationValIds = #{specificationValIds}
		ORDER BY
			createTime DESC
		LIMIT 1
	</select>

	<select id="selectSkuNameById" resultType="string">
		SELECT skuName FROM ph_product_sku WHERE id = #{skuId}
	</select>

	<!--增加商品总数-->
	<update id="addProductCount">
		UPDATE ph_product
		SET productCount = productCount + #{num},
			commoditySales = commoditySales - #{num}
		WHERE
			id = #{productId}
	</update>


	<!--增加商品sku总数-->
	<update id="addSkuCount">
		UPDATE ph_product_sku
		SET skuCount = skuCount + #{num}
		WHERE
			id = #{skuId}
	</update>

	<!--减少商品总数-->
	<update id="reduceProductCount">
		UPDATE ph_product
		SET productCount = productCount - #{num},
			commoditySales = commoditySales + #{num}
		WHERE
		id = #{productId} AND productCount - #{num} >= 0
	</update>

	<!--减少商品sku总数-->
	<update id="reduceSkuCount">
		UPDATE ph_product_sku
		SET skuCount = skuCount - #{num}
		WHERE
			id = #{skuId} AND skuCount - #{num} >= 0
	</update>



</mapper>
