<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.shopping.facade.mapper.SafeManageMapper">

    <!-- 修改代理商电话 -->
    <update id="updateAgent" parameterType="com.ph.shopping.facade.spm.entity.Agent">
        update ph_agent
        set personTel = #{personTel}
        WHERE id=#{id}
    </update>

    <!-- 修改商户电话 -->
    <update id="updateMerchant" parameterType="com.ph.shopping.facade.spm.entity.Merchant">
        update ph_merchant
        set merchantTel = #{merchantTel}
        WHERE id=#{id}
    </update>

    <!-- 修改代理商电话 -->
    <update id="updateSupplier" parameterType="com.ph.shopping.facade.spm.entity.Supplier">
        update ph_supplier
        set personTel = #{personTel}
        WHERE id=#{id}
    </update>


</mapper>