<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.alqsoft.dao.hunterrule.HunterRuleDao">
	
	<select id="getRoleList" resultType="Map" parameterType="Map">
		<!-- SELECT     
		rule.id,rule.created_time,rule.content,
		(select GROUP_CONCAT(attachment.address) from  
		alq_hunter_rule_attachment attachment 
		where rule.id=attachment.hunter_rule_id  ) as imglist
		FROM 
		`alq_hunter_rule` rule
		where rule.hunter_id=#{hunter_id}
		AND (is_deleted = 0 OR is_deleted is null)
		order by created_time DESC -->
		SELECT r.* from(
			SELECT
			rulee.*,
			GROUP_CONCAT(attachment.address order by attachment.created_time DESC separator ',') as imglist
	 		FROM
			(
				select 	
				rule.id,
				DATE_FORMAT(rule.created_time,"%Y-%m-%d %H:%i:%s") as created_time,
				rule.content
				from 
				`alq_hunter_rule` rule 
				where(rule.is_deleted = 0 OR rule.is_deleted is null) 
				and rule.hunter_id=#{hunter_id} ) rulee
		LEFT JOIN alq_hunter_rule_attachment attachment on rulee.id=attachment.hunter_rule_id 
		GROUP BY rulee.id) r ORDER BY r.created_time  DESC
		LIMIT #{startIndex},#{endIndex}
	</select> 
	
	 

</mapper>