<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>快火后台系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--富文本  css文件-->
    <!--<link rel="stylesheet" href="css/ueditor.css">-->
    <!--图片点击放大  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/viewer/css/viewer.min.css}"/>
</head>
<body>
<div class="MainContent">
    <div class="current">当前位置：
        <a href="#" alt="">管理首页 &gt;</a>
        <a href="#" alt="">供应商管理 &gt;</a>
        <a href="#" alt="">供应商列表 &gt;</a>
        <span th:text="${operateType =='update'?'修改供应商':'添加供应商'}"></span></div>
    <div class="MainCont ">
        <div class="ph_subConTit">
            <h2 th:text="${operateType =='update'?'修改供应商':'添加供应商'}"></h2>
        </div>
        <form id="form">
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">企业名称:</span>
                </label>
                <input th:value="${supplierVO.supplierName}" name="supplierName" type="text" class="left validate[required]" placeholder="" onkeyup="clearNoNum(this)"/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">联系人:</span>
                </label>
                <input th:value="${supplierVO.personName}" name="personName" type="text" class="left validate[required]" placeholder=""/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">登录帐号:</span>
                </label>
                <input th:value="${supplierVO.telPhone}" name="telPhone" type="text" class="left validate[required,custom[phone]]" placeholder=""/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">联系地址:</span>
                </label>
                <div id="area_div"></div>
            </div>
            <div class="mainFrom">
                <label class="left"></label>
                <input th:value="${supplierVO.address}" name="address" type="text" class="left validate[required]" placeholder="填写详细地址"/>
            </div>

            <div class="mainFrom imgupbox">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">营业执照:</span>
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <span class="imgup-notice">请上传您的营业执照，照片大小不超过10M.</span>
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=1>
                                    <section class="z_file left">
                                        <img th:src="@{/static/images/add.png}" class="add-img">
                                        <input type="file" name="file" id="file1" class="file" value=""
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainFrom imgupbox">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">法人身份证:</span>
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <span class="imgup-notice">请上传您的身份证正反面，照片大小不超过10M.</span>
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=2 data-file-maxImage=2>
                                    <section class="z_file left">
                                        <img th:src="@{/static/images/add.png}" class="add-img">
                                        <input type="file" name="file" id="file2" class="file" data-file-maxImage=2
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainFrom imgupbox">
                <label class="left">
                    <span class="">其他认证资料:</span>
                    <!--<span class="imgup_notice"></span>-->
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <span style="display: block;height: 16px;width: 200px;"></span>
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=3 data-file-maxImage=10>
                                    <section class="z_file left">
                                        <img th:src="@{/static/images/add.png}" class="add-img">
                                        <input type="file" name="file" id="file4" class="file" data-file-maxImage=10
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PopupBtn btnLeft" style="margin-bottom: 20px;padding-left: 104px;margin-top: 50px">
                <input id="saveOrUpdate" class="submit addSupplier_save" type="button" th:value="${operateType =='update'?'修改':'保存'}">
                <input onclick="window.history.back();" class="submit addSupplier_cancel" name="" type="button" value="取消">
            </div>
            <input th:value="${supplierVO.id}" name="id" type="hidden"/>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<!--图片上传插件-->
<script type="text/javascript" th:src="@{/static/js/common/imgUp.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<!--属性输入框的增加和删除-->
<script type="text/javascript" th:src="@{/static/js/common/attrbox.js}"></script><!--图片点击放大-->
<script type="text/javascript" th:src="@{/static/js/plugins/viewer/viewer-jquery.min.js}"></script>
<!--区域-->
<script type="text/javascript" th:src="@{/static/js/common/cascade.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<!-- 验证 -->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<script th:inline="javascript">
    //角色 code  3 市级代理 4 县级代理 5社区代理
    var agentCodes = "3,4,5";
    var loginRoleCode = [[${session.login_back_session.sessionRoleVo[0].roleCode}]];
    //操作类型
    var operateType = [[${operateType}]];
    var bindSupplier = [[${supplierVO}]];
    //修改
    if (operateType === "update") {
        //回填图片
        $(bindSupplier.supplierImageVOList).each(function (i, img) {
            var section =
                '<section class="up-section left">' +
                '<span class="up-span"></span>' +
                '<img class="close-upimg" src="/static/images/img-del.png">' +
                '<img class="up-img zoom-img" data-img-upload-src="' + img.url + '" src="' + img.url + '">' +
                '</section>';
            var divDataFileType = $("div[data-file-type='" + img.type + "']");
            var lastChildren = divDataFileType.children(":last");
            var maxImage = parseInt(divDataFileType.attr("data-file-maxImage")) || 1;
            lastChildren.before(section);
            if (divDataFileType.children().length === (maxImage + 1)) {
                lastChildren.css("display", "none");
            }
        });
        generateImg();
    }

    cascade({
        totalSelect: 3,
        DivId: "area_div",
        bindData: [bindSupplier.provinceId, bindSupplier.cityId, bindSupplier.countyId],
        backFun: function () {
            if (agentCodes.indexOf(loginRoleCode.toString()) !== -1) {
                $("#area_div").find("select:lt(" + parseInt(loginRoleCode - 1) + ")").attr("disabled", "true");
            }
        }
    });

    $(function () {
        //保存或者修改
        $("#saveOrUpdate").on("click", function () {
            var $townSelect = $("select[name='countyId']");
            $(this).formSubmit({
                startFun: function (opt) {
                    var validateImgMsg = {
                        "1": "营业执照",
                        "2": "法人身份证"
                    };
                    var types = [];
                    $("input[data-validate-img-type]").each(function (i, img) {
                        types.push($(img).attr("data-validate-img-type"));
                    });
                    types.join(",");
                    for (var validateImgCol in validateImgMsg) {
                        if (types.indexOf(validateImgCol) === -1) {
                            layer.alert(validateImgMsg[validateImgCol] + "不能为空");
                            opt.needContinue = false;
                            break;
                        }
                    }
                },
                url: "/web/supplier/" + operateType,
                data: {
                    provinceId: $("select[name='provinceId']").attr("data-area-code-selected") || null,
                    cityId: $("select[name='cityId']").attr("data-area-code-selected") || null,
                    countyId: $townSelect.attr("data-area-code-selected") || null,
                    positionId: $townSelect.val() || null
                },
                backFun: function (result) {
                    layer.alert(result.message);
                    if (result.success) {
                        setTimeout(function () {
                            window.location.href = "/web/supplier/list";
                        }, 2000)
                    }
                }
            })
        });
        //上传图片
        $(".file").each(function (i, file) {
            $(file).takungaeImgup({
                maxImage: $(file).attr("data-file-maxImage"),
                needNameInput: false,
                formData: {
                    'module': 'merchant'
                },
                success: function () {
                    generateImg();
                }
            });
        });

        //删除重新生成图片
        $(".img-section").on("click", function () {
            generateImg();
        });
    });

    function generateImg() {
        var zoomImage = $(".zoom-img");
        $("input.zoom-img-input").remove();
        zoomImage.each(function (i, img) {
            var form = $("#form"),
                type = $(img).recursiveParentNode("div").attr("data-file-type"),
                src = $(img).attr("data-img-upload-src"),
                inputUrl = "<input class='zoom-img-input' type='hidden' name='supplierImageDTOList[" + i + "].url' value=" + src + ">",
                inputType = "<input data-validate-img-type=" + type + " class='zoom-img-input' type='hidden' name='supplierImageDTOList[" + i + "].type' value=" + type + ">";
            $(inputUrl).appendTo(form);
            $(inputType).appendTo(form);
        })
    }
    function clearNoNum(obj) {
		 obj.value = obj.value.replace(/[^\u4E00-\u9FA5a-zA-Z]/g, "");//清除“汉字”和“英文”以外的字符
		 
	}
</script>
</body>
</html>

