<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>快火后台系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--富文本  css文件-->
    <!--<link rel="stylesheet" href="css/ueditor.css">-->
    <!--图片点击放大  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/viewer/css/viewer.min.css}"/>
</head>
<body>
<div class="MainContent">
    <div class="current">当前位置：<a href="index.html" alt="">管理首页 &gt;</a><a href="#" alt="">供应商管理 &gt;</a><a href="supplier_list.html" alt="">供应商列表 &gt;</a><span>供应商详情</span></div>
    <div class="MainCont ">
        <div class="ph_subConTit">
            <h2>供应商详情</h2>
        </div>
        <form id="form">
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">企业名称:</span>
                </label>
                <input th:value="${supplierVO.supplierName}" name="supplierName" type="text" class="left" placeholder=""/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">联系人:</span>
                </label>
                <input th:value="${supplierVO.personName}" name="personName" type="text" class="left" placeholder=""/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">登录帐号:</span>
                </label>
                <input th:value="${supplierVO.telPhone}" name="telPhone" type="text" class="left" placeholder=""/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">联系地址:</span>
                </label>
                <div id="area_div">



                </div>
            </div>
            <div class="mainFrom">
                <label class="left"></label>
                <input th:value="${supplierVO.address}" name="address" type="text" class="left" placeholder="填写详细地址"/>
            </div>

            <div class="mainFrom imgupbox">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">营业执照:</span>
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <span class="imgup-notice">请上传您的营业执照，照片大小不超过10M.</span>
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=1>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainFrom imgupbox">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">法人身份证:</span>
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <span class="imgup-notice">请上传您的身份证正反面，照片大小不超过10M.</span>
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=2 data-file-maxImage=2>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainFrom imgupbox">
                <label class="left">
                    <span class="">其他认证资料:</span>
                    <!--<span class="imgup_notice"></span>-->
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <span style="display: block;height: 16px;width: 200px;"></span>
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=3 data-file-maxImage=10>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PopupBtn btnLeft" style="margin-bottom: 20px;padding-left: 104px;">
                <input id="cancel" class="submit addSupplier_cancel" type="button" value="返回">
            </div>
            <input th:value="${supplierVO.id}" name="id" type="hidden"/>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<!--属性输入框的增加和删除-->
<script type="text/javascript" th:src="@{/static/js/common/attrbox.js}"></script><!--图片点击放大-->
<script type="text/javascript" th:src="@{/static/js/plugins/viewer/viewer-jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/imgUp.js}"></script>
<!--区域-->
<script type="text/javascript" th:src="@{/static/js/common/cascade.js?v=0.3}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<script th:inline="javascript">
    var bindSupplier = [[${supplierVO}]];

    console.log(bindSupplier)
    //回填图片
    $(bindSupplier.supplierImageVOList).each(function (i, img) {
        var section =
            '<section class="up-section left">' +
            '<img class="up-img zoom-img" data-img-upload-src="' + img.url + '" src="http://yst-images.img-cn-hangzhou.aliyuncs.com/' + img.url + '">' +
            '</section>';
        var divDataFileType = $("div[data-file-type='" + img.type + "']");
        $(section).appendTo(divDataFileType);
    });
    console.log(bindSupplier.provinceId+"----------"+bindSupplier.cityId)
    cascade({
        totalSelect: 2,
        DivId: "area_div",
        bindData: [bindSupplier.provinceId, bindSupplier.cityId]
    });

    $(function () {
        //取消
        $("#cancel").click(function () {
            window.history.back();
        });
        $("select[name],input[name]").prop("disabled", "true");
    })
</script>
</body>
</html>

