<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>快火后台系统</title>
    <head th:include="header::header"></head>
    <!-- bootstrap-select  css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--图片点击放大 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/viewer/css/viewer.min.css}">
</head>
<body>
<div class="MainContent">
    <div class="current">当前位置：
        <a href="#" alt="">行业列表 &gt;</a>
        <span>添加行业</span>
    </div>
    <div class="MainCont ">
        <div class="ph_subConTit">
            <h2 th:text="${operateType =='update'?'修改行业':'添加行业'}"></h2>
        </div>
        <form id="form">
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">行业名称:</span>
                </label>
                <input type="text" name="merchantTypeName" th:value="${merchantTypeVO.merchantTypeName}" class="left  validate[required]" placeholder="请填写行业名称"/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">分类级别:</span>
                </label>
                <input type="radio" name="merchanTypeLevel" class="validate[required]" th:checked="${merchantTypeVO.merchanTypeLevel==1?true:false}" value="1"/>一级分类
                <input type="radio" name="merchanTypeLevel" class="validate[required]" th:checked="${merchantTypeVO.merchanTypeLevel==2?true:false}" value="2"/>二级分类
            </div>
            <div id="merchantType_Div" class="mainFrom">
                <label class="left">
                    <span class="">上级行业:</span>
                </label>
                <div id="merchantTypeDiv"></div>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="">分类排序:</span>
                </label>
                <input type="text" class="left  validate[required,max[127],custom[number]]" name="sort" th:value="${merchantTypeVO.sort}"/>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="">图标:</span>
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div id="icon" class="z_photo upimg-div">
                                    <section class="z_file left">
                                        <img th:src="@{/static/images/add.png}" class="add-img">
                                        <input type="file" name="file" id="file" class="file" accept="image/jpg,image/jpeg,image/png,image/bmp"/>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="">行业描述:</span>
                </label>
                <textarea id="container" name="desc" th:text="${merchantTypeVO.desc}"
                          style="margin-left:15px;width: 800px;height: 160px;border: 1px solid #eee;">
                </textarea>
            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="">是否启用:</span>
                </label>
                <input type="radio" name="isDelete" class="validate[required]" th:checked="${merchantTypeVO.isDelete==0?true:false}" value="0"/>启用
                <input type="radio" name="isDelete" class="validate[required]" th:checked="${merchantTypeVO.isDelete==1?true:false}" value="1"/>未启用
            </div>
            <div class="PopupBtn btnLeft" style="margin-bottom: 20px;">
                <input id="saveOrUpdate" class="submit addIndustry_save" name="" type="button" th:value="${operateType =='update'?'修改':'保存'}">
                <input onclick="window.location.href='/web/merchantType/list'" class="submit addMerchant_cancel" type="button" value="取消">
            </div>
            <input th:value="${merchantTypeVO.id}" name="id" type="hidden"/>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<!--图片上传插件-->
<script type="text/javascript" th:src="@{/static/js/common/imgUp.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!-- 验证 -->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<!--属性输入框的增加和删除-->
<script type="text/javascript" th:src="@{/static/js/common/attrbox.js}"></script>
<!--图片点击放大-->
<script type="text/javascript" th:src="@{/static/js/plugins/viewer/viewer-jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<!--自定义js-->
<script type="text/javascript" th:src="@{/static/js/common/cascade.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/rewriteAjax.js}"></script>
<script th:inline="javascript">
    //操作类型
    var operateType = [[${operateType}]];
    var bindMerchantType = [[${merchantTypeVO}]];
    if (operateType === "update") {
        //图片回显
        if (isNotNull(bindMerchantType.icon)) {
            var section =
                '<section class="up-section left">' +
                '<span class="up-span"></span>' +
                '<img class="close-upimg" src="/static/images/img-del.png">' +
                '<img class="up-img zoom-img" data-img-upload-src="' + bindMerchantType.icon + '" src="' + bindMerchantType.icon + '">' +
                '</section>';
            var divIcon = $("#icon");
            var lastChildren = divIcon.children(":last");
            var maxImage = parseInt(divIcon.attr("data-file-maxImage")) || 1;
            lastChildren.before(section);
            if (divIcon.children().length === (maxImage + 1)) {
                lastChildren.css("display", "none");
            }
        }
    }

    $(function () {
        $("input[name='merchanTypeLevel']").click(function () {
            var level = $(this).val();
            if (level === "2") {
                $("#merchantType_Div").show();
                cascade({
                    url: "/web/merchantType/getMerchantTypeByChildList",
                    totalSelect: 1,
                    DivId: "merchantTypeDiv",
                    selectNames: ["parentId"],
                    requestIds: ["parentId"],
                    requestNames: ["merchantTypeName"],
                    bindCols: ["id"],
                    bindData: [bindMerchantType.parentId],
                    backFun: function () {
                        var value = $("input[name=id]").val() || '-1';
                        $("option[data-area-code][value=" + value + "]").remove();
                        bootstrapSelectInit($("select[name=parentId]"));
                    }
                });
            } else {
                $("#merchantType_Div").hide();
                $("#merchantTypeDiv").html("");
            }
        });
        $("input[name='merchanTypeLevel']:checked").click();

        //保存或者修改
        $("#saveOrUpdate").on("click", function () {
            $(this).formSubmit({
                url: "/web/merchantType/" + operateType,
                backFun: function (result) {
                    layer.alert(result.message);
                    if (result.success) {
                        setTimeout(function () {
                            window.location.href = "/web/merchantType/list";
                        }, 1500)
                    }
                }
            })
        });
        //上传图片
        $("#file").takungaeImgup({
            maxImage: 1,
            formData: {
                name: "icon",
                module: 'merchantType'
            }
        });

    });


</script>
</body>
</html>