<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.shopping.facade.mapper.ISupplyChainBalanceMapper">
    <select id="getSupplyChainBalances" resultType="com.ph.shopping.facade.profit.vo.SupplyChainBalanceVO">
        SELECT
        p2.id userId,
        p2.telphone,
        p4.roleName enterpriseType,
        p1.score score1,
        p1.status,
        p3.roleId userType,
        IFNULL(SUM((case when bt.transCode = 1030 then bt.score end)), 0) oncharge1,
        IFNULL(SUM((case when bt.transCode IN (1031, 1006)  then bt.score end)), 0) drawcash1,
        IFNULL(SUM((case when bt.transCode = 1008 then bt.score end)), 0) serviceCost1,
        IFNULL(SUM((case when bt.transCode = 1060 then bt.score end)), 0) unlineSettle1,
        IFNULL(SUM((case when bt.transCode = 1052 then bt.score end)), 0) unlineManageProfit1,
        IFNULL(SUM((case when bt.transCode = 1061 then bt.score end)), 0) onlineSettle1,
        IFNULL(SUM((case when bt.transCode = 1053 then bt.score end)), 0) onlineManageProfit1,
        IFNULL(SUM((case when bt.transCode = 1054 then bt.score end)), 0) onlineChainProfit1,
        IFNULL(SUM((case when bt.transCode = 1062 then bt.score end)), 0) supplyChainSettle1,
        IFNULL(SUM((case when bt.transCode = 1032 then bt.score end)), 0) supplyChainBalancePay1,
        IFNULL(SUM((case when bt.transCode = 1056 then bt.score end)), 0) hunterManageProfit1,
        IFNULL(SUM((case when bt.transCode = 1057 then bt.score end)), 0) hunterChainProfit1,
        IFNULL(SUM((case when bt.transCode = 1035 then bt.score end)), 0) supplyChainRefund1
        FROM
        ph_user_balance p1,
        ph_permission_common_user p2,
        ph_permission_user_role p3,
        ph_permission_role p4,
        ph_user_balance_trade bt

        WHERE
        p1.userId = p2.id and bt.userId = p1.userId
        AND
        p3.userId = p2.id
        AND p4.id = p3.roleId
        <if test="telPhone != null and telPhone != ''">
            AND p2.telPhone = #{telPhone}
        </if>
        <if test="enterpriseType != null">
            AND p4.roleCode = #{enterpriseType}
        </if>
        <if test="status != null">
            AND p1.status = #{status}
        </if>
        GROUP BY p1.userId
        ORDER BY p1.id DESC
    </select>

    <!-- 根据编码和用户id来统计相关数据 -->
    <select id="getStatistics" resultType="java.lang.Long">
		SELECT
			IFNULL(SUM(p.score), 0)  score
		FROM
			ph_user_balance_trade p
		WHERE
			p.userId = #{userId}
		AND p.transCode = #{transCode}
	</select>
</mapper>