<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>线上退换</title>
    <link rel="stylesheet" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--日期  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/datepicker/css/bootstrap-datepicker.css}">
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/layer/layer.css}">
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">订单管理</a>&nbsp;&gt;&nbsp;<span>线上退款</span></div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->
        <div class="ph_subTit">
            <h2>线上退款</h2>
            <div class="ph_snbBtn">
                <shiro:hasPermission name="orderOnlineRefundExport">
                    <input name="" type="button" th:onclick="'exportExcel();'" value="导出">
                </shiro:hasPermission>

            </div>
        </div>
        <!--end 标题-->
        <!--筛选条件-->
        <form id="queryForm">
            <div class="ph_screen">
                <shiro:hasPermission name="orderOnlineRefundQuery">
                    <table class="ph_tableBox">
                        <tr>
                            <th>订单号：</th>
                            <td><input type="text" name = "orderNo" id="orderNo"></td>
                            <th>下单时间：</th>
                            <td colspan="2">
                                <p class="dayBox"><input class="start_rise date start" name="startTime" type="text" id="startTime">&nbsp;-&nbsp;
                                    <input class="start_rise date end" name="endTime" type="text" id="endTime"></p>
                            </td>
                        </tr>
                        <tr>
                            <th>终端来源：</th>
                            <td>
                                <select class="selectpicker" data-live-search="true" name="terminalUnit" id="terminalUnit">
                                    <option value="">全部</option>
                                    <option value="0">PC端</option>
                                    <option value="1">移动端</option>
                                </select>
                            </td>
                            <th>退款状态：</th>
                            <td>
                                <select class="selectpicker" data-live-search="true" name="status" id="status">
                                    <option value="">全部</option>
                                    <option value="0">退款审核中</option>
                                    <option value="1">拒绝退款</option>
                                    <option value="2">退款中</option>
                                    <option value="3">退款完成</option>
                                </select>
                            </td>
                            <td>
                                <input name="" type="button" th:onclick="'query();'" value="查询">
                                <input name="" type="button" th:onclick="'resetForm();'" value="重置">
                            </td>
                        </tr>
                    </table>
                </shiro:hasPermission>
            </div>
        </form>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="example">
            </table>
        </div>
        <!--end 商品列表-->
    </div>
    <!--end 主体内容-->
</div>
<!--退款说明弹窗-->
<form action="" id="validateForm">
    <div class="PopupBox" id="Js_refundBox">
        <!--内容-->
        <div class="PopupCon">
            <div class="ph_subPoCon ph_screen">
                <table class="ph_tableBox">
                    <tr>
                        <th>退款说明：</th>
                        <td>
                            <textarea name="" id="refundReason" readonly ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>是否同意退款：</th>
                        <td>
                            <span class="ph_radio">
                                <input class="Js_radio" name="refundStatus" type="radio" value="0" checked>同意退款</span>
                            <span class="ph_radio">
                                <input class="Js_radio" name="refundStatus" type="radio" value="1">不同意退款</span>
                        </td>
                    </tr>
                    <tr class="radioTxt hide">
                        <th><span class="require">*</span>联系电话：</th>
                        <td><input class="validate[required, maxSize[11],custom[phone]]" name="telPhone" type="text" id="telPhone"></td>
                    </tr>
                    <tr class="radioTxt hide">
                        <th><span class="require">*</span>拒绝理由：</th>
                        <td><input name="" type="text" id="rejectedReason"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!--end 内容-->
    </div>
</form>

<!--end 退款说明弹窗-->

<!--退款详情弹窗-->
<div class="PopupBox" id="Js_refundDetaBox">
    <!--内容-->
    <div class="PopupCon">
        <div class="ph_subPoCon ph_screen">
            <table class="ph_tableBox">
                <tr>
                    <th>退款说明：</th>
                    <td>
                        <textarea name="" id="refundReasonDeteil" readonly >退款说明退款说明退款说明退款说明退款说明</textarea>
                    </td>
                </tr>
                <tr>
                    <th>是否同意退款：</th>
                    <td><span id="checkResultDesc"></span></td>
                </tr>
                <tr>
                    <th><span class="require">*</span>联系电话：</th>
                    <td><span id="refunderPhone"></span></td>
                </tr>
                <tr>
                    <th><span class="require">*</span>拒绝理由：</th>
                    <td><div class="refunData"><span id="showReason"></span></div></td>
                </tr>
            </table>
        </div>
    </div>
    <!--end 内容-->
</div>
<!--end 退款详情弹窗-->

<!--操作成功弹窗-->
<div class="PopupBox SucBox">
    <!--关闭按钮-->
    <a href="javascript: void(0);" class="close"></a>
    <!--end 关闭按钮-->
    <!--内容-->
    <div class="PopupCon">
        <div class="Deter">
            <h2>操作成功！ </h2>
        </div>
        <div class="PopupBtn">
            <input name="" type="button" value="确定">
        </div>
    </div>
    <!--end 内容-->
</div>
<!--end 操作成功弹窗-->
<!--导出start-->
<div hidden>
    <form action="/web/orderOnlineRefund/export"  id="orderExport" method="post">
        <input type="hidden" name="startTime" value="" id="e_starTime"/>
        <input type="hidden" name="endTime" value="" id="e_endTime"/>
        <input type="hidden" name="orderNo" value="" id="e_orderNo"/>
        <input type="hidden" name="terminalUnit" value="" id="e_terminalUnit"/>
        <input type="hidden" name="status" value="" id="e_status"/>
    </form>
</div>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>
<!--弹窗-->
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<!--日期控件-->
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.timepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.datepair.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/datepicker.js}"></script>
<!--验证-->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var tb;
    var radioNm;
    $(function() {
        $('.ph_wareBox').on('click', '.Js_refund', function () {
            layer.open({
                type: 1,
                title: '退款审核',
                closeBtn: 0,
                area: ['442px', '290px'],
                btn: ['确认', '取消'],
                btnAlign: 'c',
                content: $('#Js_refundBox')
            });
        });
        $('.ph_wareBox').on('click', '.Js_refunddeta', function () {
            layer.open({
                type: 1,
                title: '退款详情',
                closeBtn: 0,
                area: ['442px', '392px'],
                btn: ['确认', '取消'],
                btnAlign: 'c',
                content: $('#Js_refundDetaBox')
            });
        });
        //分页
        tb = $('#example').DataTable({
            "lengthChange": false,
            "ordering": false,
            "searching": false,

            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/web/orderOnlineRefund/list", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '', aTargets: ['_all']}],
            "aoColumns": [
                {"sTitle": "ID", "mData": "id", "class": "sClass", "sWidth": "50px"},
                {"sTitle": "订单号", "mData": "orderNo" ,"sWidth": "220px"},
                {
                    "sTitle": "终端来源", "mData": "terminalUnit", "mRender": function (data, type, full) {
                    var text;
                    if (full.terminalUnit == 0) {
                        text = "PC端";
                    } else {
                        text = "移动端";
                    }
                    return text;
                }
                },
                {"sTitle": "下单时间", "mData": "createTime", "sWidth": "160px"},
                {"sTitle": "收货人", "mData": "shippingName"},
                {"sTitle": "商品金额（元）", "mData": "productMoney"},
                {"sTitle": "物流费用（元）", "mData": "logisticsMoney"},
                {"sTitle": "订单总额（元）", "mData": "orderMoney"},
                {
                    "sTitle": "付款方式", "mData": "payType", "mRender": function (data, type, full) {
                    var text;
                    if (full.payType == 0) {
                        text = "现金支付";
                    } else if (full.payType == 1) {
                        text = "积分支付";
                    } else if (full.payType == 2) {
                        text = "支付宝支付";
                    } else if (full.payType == 3) {
                        text = "微信支付";
                    } else if (full.payType == 4) {
                        text = "易联支付";
                    } else {
                        text = "--";
                    }
                    return text;
                }
                },
                {
                    "sTitle": "订单状态", "mData": "status", "mRender": function (data, type, full) {
                    var text;
                    if (full.appliStatus == 0) {
                        text = "退款审核中";
                    } else if (full.appliStatus == 1) {
                        text = "拒绝退款";
                    } else if (full.appliStatus == 2) {
                        text = "退款中";
                    } else if (full.appliStatus == 3) {
                        text = "退款完成";
                    }
                    return text;

                }
                },
                {
                    "sTitle": "操作", "mData": "id", "class": "ph_tableShow", "mRender": function (data, type, full) {
                    var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                    text = text + '<ul class="ph_operateList hide">';

                    if ([[${session.orderOnlineRefundReDetail}]]) {
                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="toDetail(\'' + full.subOrderId + '\');">订单详情</a></li>';
                    }
                    if (full.appliStatus == 0) {
                        if ([[${session.orderOnlineRefundCheck}]]) {
                            text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="checkRefund(\'' + full.id + '\');" >退款审核</a></li>';
                        }
                    } else if (full.appliStatus != 0) {
                        if ([[${session.orderOnlineRefundDetail}]]) {
                            text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="RefundDetail(\'' + full.id + '\');" >退款详情</a></li>';
                        }
                    }
                    text = text + '</ul></div>';
                    return text;
                }
                }
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'orderNo': $.trim($("#orderNo").val()),
                        'startTime': $.trim($('#startTime').val()),
                        'endTime': $.trim($('#endTime').val()),
                        'terminalUnit': $.trim($('#terminalUnit').val()),
                        'appliStatus': $.trim($('#status').val())
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });
            }
        });
        $('.ph_radio .Js_radio').on('click', function () {
             radioNm = $(this).val();
            if (radioNm == '1') {
                $(this).parents('tr').siblings('.radioTxt').removeClass('hide');
            } else {
                $(this).parents('tr').siblings('.radioTxt').addClass('hide');
            }

        });
    });

    //条件查询重新加载数据
    function query() {
        tb.draw();
    }
    /**
     * 重置内容
     */
    //重置查询条件--star
    function resetForm() {
        clearData("queryForm");
    }
    function clearData(id) {
        $("#" + id)[0].reset();
        var selected = $("#" + id).find("select");
        if (selected.length > 0) {
            for (var i = 0, length = selected.length; i< length; i++) {
                selected.eq(i).selectpicker('val','');
            }
        }
    }
    //重置查询条件-end

    /**
     * 订单详情
     * @param subOrderId
     */
    function toDetail(subOrderId) {
        HtmlHelper.generateAutoSubmitForm({
            url: "/web/orderOnline/reDetail",
            data: {
                id : subOrderId
            }
        });
    }
    /**
     * 审核申请退款
     * @param id 退款记录id
     */
    function checkRefund(id) {
        //先填充申请原因
        $.ajax({
            async: false,
            url: "/web/orderOnlineRefund/getRefundOrderById",
            data: {id: id},
            type: "POST",
            dataType: "json",
            success: function (data) {
                var subOrderId;
                if (data.success) {
                    $('#refundReason').text(data.data.appliReason);
                    subOrderId = data.data.subOrderId;
                    layer.open({
                        type: 1,
                        title: '退款审核',
                        closeBtn: 0,
                        area: ['500px', '300px'],
                        btn: ['确定', '取消'],
                        btnAlign: 'c',
                        content: $('#Js_refundBox'),
                        yes: function (index, layero) {
                            var flag = $("#validateForm").validationEngine("validate");
                            if (!flag) {
                                return false;
                            }
                            $.ajax({
                                async: false,
                                url: "/web/orderOnlineRefund/checkRefundOrder",
                                data: {
                                    id: id,
                                    subOrderId:subOrderId,
                                    rejectedReason: $('#rejectedReason').val(),
                                    telPhone: $('#telPhone').val(),
                                    checkResultStatus: $("input[type='radio']:checked").val()
                                },
                                type: "POST",
                                dataType: "json",
                                success: function (data) {
                                    if (data.success) {
                                        layer.close(index);
                                        tb.draw(false);
                                        layer.alert(data.message, {icon: 1, btnAlign: 'c', closeBtn: 0});
                                    } else {
                                        layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                                    }
                                }
                            });
                        }, btn2: function (index, layero) {
                            layer.close(index);
                        }
                    });
                } else {
                    layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                }
            }
        });
    }

    /**
     *查看审核退款详情
     * @param id 退款记录id
     * @constructor
     */
    function RefundDetail(id) {
        $.ajax({
            async:false,
            url:"/web/orderOnlineRefund/refundOrderDetail",
            data:{id:id},
            type:"POST",
            dataType:"json",
            success:function(data){
                if (data.success) {
                    $('#showReason').text(data.data.rejectedReason);//审核拒绝原因
                    $('#refunderPhone').text(data.data.telphone);//拒绝人电话联系人
                    if (data.data.checkIsAccess==0){
                        $('#checkResultDesc').text('同意退款');//是否通过
                    }else {
                        $('#checkResultDesc').text('不同意退款');//是否通过
                    }
                    $('#refundReasonDeteil').text(data.data.appliReason);//申请退款说明
                    layer.open({
                        type: 1,
                        title: '取消订单详情',
                        closeBtn : 0,
                        area: ['500px','300px'],
                        btn:['返回'],
                        btnAlign: 'c',
                        content: $('#Js_refundDetaBox')
                    });
                } else {
                    layer.alert(data.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                }
            }
        });
    }

    /**
     * 导出数据
     */
    function exportExcel() {
        $('#e_starTime').val($('#startTime').val());
        $('#e_endTime').val($('#endTime').val());
        $('#e_orderNo').val($('#orderNo').val());
        $('#e_terminalUnit').val($('#terminalUnit').val());
        $('#e_status').val($('#status').val());
        $('#orderExport').submit();
    }
</script>
</body>
</html>