<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.shopping.facade.mapper.MemberScoreMapper">
    <resultMap id="BaseResultMap" type="com.ph.shopping.facade.pay.entity.MemberScore">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />

    </resultMap>

    <!-- 根据会员id获取会员积分流水信息 -->
    <select id="getMemberScoreByMemberId" resultType="com.ph.shopping.facade.pay.entity.MemberScore">
        SELECT
        *
        FROM
        ph_member_score
        WHERE
        memberId=#{memberId}
    </select>



</mapper>