<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ph.shopping.facade.mapper.MerchantDrawcashRecordMapper">
  
  <!--商户提现记录新增新增-->
  <insert id="addMerchantDrawcashRecord" parameterType="com.ph.shopping.facade.pay.entity.MerchantDrawcashRecord"
          useGeneratedKeys="true" keyProperty="id">
      	insert into ph_merchant_drawcash_record(merchantId,score,handingCharge,status,expectedDate,createDate,drawcashNo,bankName,auditState,drawcashIp,receiver,bankNo)
      	values(#{merchantId},#{score},#{handingCharge},#{status},#{expectedDate},#{createDate},#{drawcashNo},#{bankName},#{auditState},#{drawcashIp},#{receiver},#{bankNo})
  </insert>
  
</mapper>