<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
    <meta charset="UTF-8">
    <title>用户协议</title>
</head>
<style type="text/css">
    * {
        margin: 0;
        padding: 0
    }

    html {
        font-size: 10px;
        font-family: "Microsoft YaHei UI Light";
    }

    p {
        padding: 0 5%;
        width: 90%;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        text-align: justify;
        line-height: 2.4rem;
    }

    .title {
        font-size: 2.4rem;
        text-align: center;
        margin: 2rem auto;
    }

    .content {
        text-indent: 2em;
    }

    .part-bold {
        margin-top: 0.3rem;
        font-weight: bold;
    }
</style>
<body>
<p class="title">《普惠用户服务协议》</p>
<p>本协议是用户（以下简称“您”）与普惠后台网站（网址：main.phds315.com，简称“本站”）之间就普惠网站服务等相关事宜所订立的契约，请您仔细阅读用户服务条款，您选择同意后，即视为您接受并同意遵守本协议的约定。</p>
<p class="part-bold">第1条 本站服务条款的确认和接纳</p>
<p>1.1&nbsp;&nbsp;本站的各项电子服务的所有权和运作权归普惠所有。您同意所有注册协议条款并完成申请注册程序，才能成为本站的正式用户。您确认：本协议条款是处理双方权利义务的依据，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定或约定。</p>
<p>1.2&nbsp;&nbsp;您点击同意本协议的，即视为您确认自己具有享受本站服务的权利和履行协议规定的义务，能够独立承担法律责任。</p>
<p>1.3&nbsp;&nbsp;普惠保留在中华人民共和国大陆地区施行之法律允许的范围内独自决定拒绝服务、冻结或关闭用户账户的权利。</p>
<p>1.4&nbsp;&nbsp;您使用本站提供的服务时，应同时接受适用于本站特定服务、活动等的准则、条款和协议（以下统称为“其他条款”）；如果以下使用条件与“其他条款”有不一致之处，则以“其他条款”为准。</p>
<p class="part-bold">第2条 本站服务</p>
<p>2.1&nbsp;&nbsp;普惠后台通过互联网依法为您提供互联网信息等服务，您在完全同意本协议及本站相关规定的情况下，方有权使用本站的相关服务。</p>
<p>2.2&nbsp;&nbsp;您必须自行准备如下设备和承担如下开支：</p>
<p>2.2.1&nbsp;&nbsp;上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；</p>
<p>2.2.2&nbsp;&nbsp;上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p>
<p class="part-bold">第3条 用户信息收集及保护</p>
<p>3.1&nbsp;&nbsp;您应自行诚信向本站提供申请资料，您保证提供的申请资料真实、准确、完整、合法有效，您的申请资料如有变动的，应及时自行或者联系工作人员更新其申请资料。如果您提供的申请资料不合法、不真实、不准确、不详尽的，您需承担因此引起的相应责任及后果，并且普惠联盟保留单方终止您使用普惠各项服务的权利。</p>
<p>
    3.2&nbsp;&nbsp;您在本站进行申请注册、充值、提现、下单购物等行为时，涉及您真实姓名/名称、详细地址、联系电话、电子邮箱、订单详情、cookies等信息的，本站有权对其中涉及个人隐私信息予以严格保密，除非得到您的授权、为履行强行性法律义务（如国家安全机关指令）或法律另有规定、本注册协议或其他条款另有约定外，本站不会向外界披露您的隐私信息。</p>
<p>3.3&nbsp;&nbsp;您的申请审核成功后，将产生用户名和密码等账户信息，您可以根据本站规定更改您的密码。您应谨慎合理的保存、使用您的账户信息。您若发现任何非法使用您的账户或其他存在安全漏洞的情况的，请立即通知本站并向公安机关报案。</p>
<p>3.4&nbsp;&nbsp;普惠拥有通过邮件、短信、电话、网站通知或声明等形式，向在本站申请注册的用户告知信息的权利。</p>
<p>3.5&nbsp;&nbsp;您选择向本站的商品供应商或市级代理商（以下统称“销售方”）提交订单购买商品或服务的，视为您向销售方披露个人相关信息，接受销售方向您提供商品销售、配送、售后服务或其他必要事宜；如前述全部或部分事宜之一涉及由销售方外的第三方履行的，销售方有权将您的信息以必要方式向第三方披露，第三方有权以履行上述事宜为目的联系您。</p>
<p>3.6&nbsp;&nbsp;市级代理和供应商有义务为提交订单的用户进行用户信息保密，泄密自行承担相关法律责任。</p>
<p>3.7&nbsp;&nbsp;您不得将在本站注册获得的账号、密码等账户信息提供给他人使用，否则您应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
<p>3.8&nbsp;&nbsp;普惠有权使用您的注册信息、用户名、密码等信息，登陆进入您的注册账户，进行证据保全，包括但不限于公证、见证、协助司法机关进行调查取证等。</p>
<p class="part-bold">第4条 用户依法言行义务</p>
<p>本协议依据国家相关法律法规规章制定，您同意严格遵守以下义务：</p>
<p>4.1&nbsp;&nbsp;不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
<p>4.2&nbsp;&nbsp;不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；</p>
<p>4.3&nbsp;&nbsp;不得教唆他人从事本条所禁止的行为；</p>
<p>4.4&nbsp;&nbsp;除本注册协议、其他条款或另有其他约定外，您不得利用在本站注册的账户进行经营活动、牟利行为及其他未经本站许可的行为，包括但不限于以下行为：</p>
<p>4.4.1&nbsp;&nbsp;恶意利用技术手段或其他方式，为获取利益而注册账户、下单等行为，影响其他用户正常消费行为或相关合法权益、影响普惠正常销售秩序的行为；</p>
<p>4.4.2&nbsp;&nbsp;商户、代理或者供应商对其所供商品进行回购的行为；</p>
<p>4.4.3&nbsp;&nbsp;不得进行恶意刷单行为，一经查证需承担相应的民事责任和带来的相应后果，情节严重移送公安机关处理；</p>
<p>4.4.4&nbsp;&nbsp;任何对商品目录、描述、价格、数量、其他用户信息或其他内容的下载、转载、收集、衍生利用、复制、出售、转售或其他形式使用的行为；</p>
<p>4.4.5&nbsp;&nbsp;本站相关规则、政策、或网页活动规则中限制、禁止的行为；</p>
<p>4.4.6&nbsp;&nbsp;其他影响普惠对用户账户正常管理秩序的行为。</p>
<p>4.5&nbsp;&nbsp;在发现自身账户金额多出应有金额时，应及时联系客服；一经查出普惠有暂停为用户服务和追回多出账款权力。</p>
<p>4.6&nbsp;&nbsp;发现自身账户信息有误时，应及时联系客服进行处理，以保证账户信息的准确性，如因此带来账户多出账款普惠有暂停为用户服务和追回多出账款权力。</p>
<p>4.7&nbsp;&nbsp;您不得利用任何非法手段获取其他用户个人信息，不得将其他用户信息用于任何营利或非营利目的，不得泄露其他用户或权利人的个人隐私，否则普惠有权采取本协议规定的合理措施制止您的上述行为，情节严重的，将提交公安机关进行刑事立案。</p>
<p>4.8&nbsp;&nbsp;若您未遵守以上规定的，本站有权做出独立判断并采取暂冻结或冻结您的账号、关闭相应交易订单、停止发货等措施。您须对自己的行为承担相应法律责任。</p>
<p class="part-bold">第5条 商品信息</p>
<p>5.1&nbsp;&nbsp;本站上的商品价格、数量、是否有货等商品信息随时都有可能发生变动，本站不作特别通知。由于网站上商品信息的数量极其庞大，虽然本站会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本站网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。</p>
<p class="part-bold">第6条 订单</p>
<p>6.1&nbsp;&nbsp;在您下订单时，请您仔细确认所购商品的名称、价格、数量、联系地址、电话、收货人等信息。收货人与您本人不一致的，收货人的行为和意思表示视为您的行为和意思表示，您应对收货人的行为及意思表示的法律后果承担连带责任。</p>
<p>6.2&nbsp;&nbsp;市级代理或供应商在收到订单应及时处理订单，若应为及时处理订单带来的后果自行负责。</p>
<p>6.3&nbsp;&nbsp;除法律另有强制性规定外，双方约定如下：本站上销售方展示的商品和价格等信息仅仅是交易信息的发布，您下单时须选择您希望购买的商品数量、支付方式、收货人、联系方式、收货地址等内容；销售方收到您的订单信息后，只有在销售方将您在订单中订购的商品从仓库实际直接向您发出时（
    以商品出库为标志），方视为您与销售方之间就实际直接向您发出的商品建立了交易关系；如果您在一份订单里订购了多种商品并且销售方只给您发出了部分商品时，您与销售方之间仅就实际直接向您发出的商品建立了交易关系；只有在销售方实际直接向您发出了订单中订购的其他商品时，您和销售方之间就订单中该其他已实际直接向您发出的商品才成立交易关系。您可以随时登录您在本站注册的账户，查询您的订单状态。</p>
<p>6.4&nbsp;&nbsp;由于市场变化及各种以合理商业努力难以控制的因素的影响，本站无法保证您提交的订单信息中希望购买的商品都会有货；如您下单所购买的商品，发生缺货，您有权取消订单，销售商亦有权取消订单，并为已付款的用户办理退款。</p>
<p class="part-bold">第7条 配送</p>
<p>7.1&nbsp;&nbsp;销售商将会把商品（货物）送到您所指定的收货地址，所有在本站上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点等相关信息估计得出的。</p>
<p>7.2&nbsp;&nbsp;因如下情况造成订单延迟或无法配送、交货等，销售商不承担延迟配送、交货的责任：</p>
<p>（1）您提供的信息错误、地址不详细等原因导致的；</p>
<p>（2）货物送达后无人签收，导致无法配送或延迟配送的；</p>
<p>（3）情势变更因素导致的；</p>
<p>（4）未能在本站所示的送货参考时间内送货的；</p>
<p>（5）因节假日、大型促销活动、店庆、预购或抢购人数众多等原因导致的；</p>
<p>（6）不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。</p>
<p class="part-bold">第8条 责任限制及不承诺担保</p>
<p>8.1&nbsp;&nbsp;除非另有明确的书面说明,本站及其所包含的或以其他方式通过本站提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在“按现状”和“按现有”的基础上提供的。</p>
<p>8.2&nbsp;&nbsp;除非另有明确的书面说明,普惠不对本站的运营及其包含在本站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。</p>
<p>8.3&nbsp;&nbsp;普惠不担保本站所包含的或以其他方式通过本站提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从本站发出的电子信件、信息没有病毒或其他有害成分。</p>
<p>8.4&nbsp;&nbsp;如因不可抗力或其他本站无法控制的原因使本站系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，普惠会合理地尽力协助处理善后事宜。</p>
<p>8.5&nbsp;&nbsp;您应对账户信息及密码承担保密责任，因您未能尽到信息安全和保密责任而致使您的账户发生任何问题的，您应承担全部责任。同时，因网络环境存在众多不可预知因素，因您自身终端网络原因（包括但不限于断网、黑客攻击、病毒等）造成您的普惠账户或个人信息等被第三方窃取的，普惠不承担赔偿责任。</p>
<p>8.6&nbsp;&nbsp;普惠有权应国家有关机关的要求，向其提供您在普惠的用户信息和交易记录等必要信息。如您涉嫌侵犯他人合法权益，则普惠有权在初步判断涉嫌侵权行为可能存在的情况下，向权利人提供您必要的个人信息。</p>
<p class="part-bold">第9条 协议更新及用户关注义务</p>
<p>
    根据国家法律法规变化及网站运营需要，普惠有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本站上即生效，并代替原来的协议。您可随时登陆查阅最新协议；您有义务不时关注并阅读最新版的协议、其他条款及网站公告。如您不同意更新后的协议，可以且应立即停止接受普惠网站依据本协议提供的服务；如您继续使用本站提供的服务的，即视为同意更新后的协议。普惠建议您在使用本站之前阅读本协议。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
<p class="part-bold">第10条 法律管辖和适用</p>
<p>本协议的订立、执行和解释及争议的解决均适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其他条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。</p>
</body>
</html>